<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyfen.pear.mapper.MemberMapper">

    <sql id="all_column">
        member.id
    </sql>

    <select id="selectListByTeamId" resultType="com.lyfen.pear.domain.dto.MemberDTO">
        select m.id,m.code,m.login_name,m.name,m.email,m.avatar,m.status,m.created_by,m.created_time,tm.team_id,tm.is_leader
        from pear_member m left join pear_team_member tm on m.id = tm.member_id
        <where>
            <if test="teamId != null and teamId != ''">
                tm.team_id = #{teamId}
            </if>
        </where>
    </select>
</mapper>
