<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyfen.pear.mapper.TeamMemberMapper">

    <select id="selectListByTeamId" resultType="com.lyfen.pear.domain.dto.MemberDTO">
        select u.user_id,u.user_name,u.real_name,u.email,u.mobile,u.avatar,u.status,tm.team_id,tm.is_leader
        from sys_user u left join pear_team_member tm on u.user_id = tm.user_id
        <where>
            <if test="teamId != null and teamId != ''">
                tm.team_id = #{teamId}
            </if>
        </where>
    </select>
</mapper>
